.bg-right{
    -fx-background-color: #333645;
}

.bg-center{
    -fx-background-color: #eff8ff;
}

.lbl-title{
    -fx-font-size: 20px;
    -fx-text-fill: #eff8ff;
    -fx-font-weight: bold;
}

.JFXText-field{
    -fx-background-color: #262936;
    -fx-background-radius: 10px;
    -fx-text-fill: #eff8ff;
}

.logo-cadastro {
    -fx-background-image: url("../images/logo_branco.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

/*-fx-background-color: #7088ff;*/
