.background-border-left{
    -fx-background-color: #333645;
}


.background-border-center{
    -fx-background-color: #eff8ff;
}

.btn-cs-padrao{
    -fx-background-color: #7088ff;
    -fx-background-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #333645;
    -fx-font-size: 16px;
}

.btn-cs-padrao:hover{
    -fx-background-color: #BCC8FF;
    -fx-background-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #333645;
    -fx-font-size: 16px;
}

.btn-cs-secundario{
    -fx-background-color: #262936;
    -fx-background-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.btn-cs-secundario:hover{
    -fx-background-color: #3C4052;
    -fx-background-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.lbl-titulo{
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 30px;
}

.lbl-subtitulo{
    -fx-font-weight: bold;
    -fx-text-fill: #7088ff;
    -fx-font-size: 20px;
}

.JFXText-field{
    -fx-font-size: 18px;
}

.lbl-dados{
    -fx-text-fill: #4d4d4d  ;
    -fx-font-size: 20px;
}

.JFXText-area{
    -fx-background-color: #a5a5a5;
    -fx-background-radius: 3px;
}

.lbl-area{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.JFXText-area2{
    -fx-background-color: #333645;
    -fx-background-radius: 3px;
}

.lbl-area2{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #eff8ff;
}

