.button.entrar{
    -fx-background-color: #7088ff;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.toggle-button:active{
    -fx-background-color: #7088ff;
}

.background{
    -fx-border-radius: 20;
    -fx-border-color: #333645;
    -fx-border-width: 3;
}

.background-login{
    -fx-background-radius: 20;    
    -fx-background-color: #333645;
    -fx-alignment: center;
}

.label.login{
    -fx-text-fill: white;
    -fx-font-size: 25px
}

.text-field{
    -fx-font-weight: bold;
    -fx-font-size: 15;
}