/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 /* JavaFX ainda não permite que utilize variaveis como o CSS3
 :root {
     --corPadrao: #262936;
 }

 .jfx-decorator {
    -fx-decorator-color: derive(var(--corPadrao), -20%);
} */
 
 .root {
     -corPadrao: #262936;
 }

/*******************************************************************************
*                                                                              *
* JFX Decorator                                                                *
*                                                                              *
*******************************************************************************/

.jfx-decorator {
    -fx-decorator-color: derive(-corPadrao, -20%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: WHITE;
    -fx-font-size: 16;
}

.jfx-decorator .jfx-decorator-title-container .glyph-icon {
    -fx-fill: WHITE;
    -fx-font-size: 100;
}

/*******************************************************************************
*                                                                              *
* JFX Alert                                                                    *
*                                                                              *
*******************************************************************************/

.jfx-alert-overlay{
    -fx-background-color: #00000011;
    -fx-padding: 0;
}

.jfx-alert-content-container{
    -fx-background-color: WHITE;
}

/*******************************************************************************
*                                                                              *
* JFX Button                                                                   *
*                                                                              *
*******************************************************************************/
/*.jfx-button:armed,
.jfx-button:hover,
.jfx-button:focused,
.jfx-button {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}*/


/*******************************************************************************
 *                                                                             *
 * JFXChipView                                                                 *
 *                                                                             *
 ******************************************************************************/

.jfx-chip-view .jfx-chip .close-button {
    -fx-background-color: #A6A6A6;
    -fx-pref-width: 20;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: 20;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-background-radius: 20;
}

.jfx-chip-view .jfx-chip .close-button .jfx-rippler {
    -jfx-rippler-fill: BLACK;
}

.jfx-chip-view .jfx-chip .close-button .jfx-svg-glyph {
    -fx-shape: "M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z";
    -fx-background-color: #E0E0E0;
    -jfx-size: 8;
}

/*******************************************************************************
 *                                                                             *
 * JFXTabPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-tab-pane .headers-region .tab .tab-container .tab-close-button {
    -fx-background-color: TRANSPARENT;
    -fx-pref-width: 24;
    -fx-pref-height: 24;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-close-button .jfx-rippler{
    -jfx-rippler-fill: WHITE;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-close-button > .jfx-svg-glyph {
    -fx-shape: "M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z";
    -jfx-size: 12;
    -fx-background-color: rgba(255, 255, 255, .87);
}

.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-close-button > .jfx-svg-glyph {
    -fx-background-color: WHITE;
}

/*******************************************************************************
 *                                                                             *
 * JFXCheckBox                                                                 *
 *                                                                             *
 ******************************************************************************/
.jfx-check-box {
    -jfx-unchecked-color: #5A5A5A;
    -jfx-checked-color: #0F9D58;
}

.jfx-check-box .box-container {
    -fx-shape: "M 400 100 L 400 100 A 50 50 0 1 1 400 250 A 50 50 0 1 1 400 100 ";
    -fx-padding: 10;
}

.jfx-check-box .box,
.jfx-check-box:indeterminate .box,
.jfx-check-box:indeterminate:selected .box{
    -fx-pref-width: 18;
    -fx-pref-height: 18;

    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;

    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 2;

    -fx-border-color: -jfx-unchecked-color;
    -fx-border-style: solid;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

.jfx-check-box:selected .box {
    -fx-border-color: -jfx-checked-color;
}

.jfx-check-box .mark {
    -fx-shape: "M384 690l452-452 60 60-512 512-238-238 60-60z";
    -fx-max-width: 15;
    -fx-max-height: 12;

    -fx-background-color: WHITE;

    -fx-border-color: WHITE;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.jfx-check-box .indeterminate-mark{
    -fx-background-color: -jfx-checked-color;
    -fx-background-radius: 2;
    -fx-border-width: 0;
    -fx-max-width: 10;
    -fx-max-height: 10;
}

/*******************************************************************************
 *                                                                             *
 * JFXChipView                                                                 *
 *                                                                             *
 ******************************************************************************/


 .jfx-chip-view {
    -fx-background-color: TRANSPARENT;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}

.jfx-chip-view .chips-pane {
    -fx-background-color: TRANSPARENT;
    -fx-vgap: 4;
    -fx-hgap: 6;
}

.jfx-chip-view .chips-pane > .text-area,
.jfx-chip-view .chips-pane > .text-area .scroll-pane,
.jfx-chip-view .chips-pane > .text-area .scroll-pane .viewport,
.jfx-chip-view .chips-pane > .text-area:focused,
.jfx-chip-view .chips-pane > .text-area:focused .scroll-pane {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-chip-view .chips-pane > .text-area {
    -fx-padding: 0.333333em 0 0.333333em 0;
}

.jfx-chip-view .chips-pane > .text-area .content,
.jfx-chip-view .chips-pane > .text-area:focused .content{
    -fx-background-color:TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-padding: 0 0 0 0;
}

.jfx-chip-view .chips-pane .editor{
    -fx-min-width: 100px;
}

.jfx-chip-view .jfx-chip > HBox{
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14.0;
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 40px;
    -fx-padding: 5px 8px 5px 12px;
    -fx-pref-height: 32px;
    -fx-alignment: center-left;
    -fx-spacing: 8;
}

/*.jfx-chip-area .error-label {*/
    /*-fx-background-color: #D34336;*/
/*}*/

/*******************************************************************************
 *                                                                             *
 * JFXColorPicker                                                              *
 *                                                                             *
 ******************************************************************************/

 .jfx-color-picker:armed,
 .jfx-color-picker:hover,
 .jfx-color-picker:focused,
 .jfx-color-picker {
     -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
     -fx-background-radius: 3px;
     -fx-background-insets: 0px;
 }
 
 
 .jfx-color-picker .color-box {
     -fx-background-color: #fafafa;
     -fx-background-radius: 3px;
     -fx-background-insets: 0px;
 }

/*******************************************************************************
 *                                                                             *
 * JFXComboBox                                                                 *
 *                                                                             *
 ******************************************************************************/

 .jfx-combo-box{
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
    -fx-prompt-text-fill: #4d4d4d;
}

.jfx-combo-box,
.jfx-combo-box:focused,
.jfx-combo-box:editable,
.jfx-combo-box:editable:focused{
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}

.jfx-combo-box .combo-box-button-container{
    -fx-background-color:TRANSPARENT;
}

.jfx-combo-box:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-combo-box > .arrow-button,
.jfx-combo-box:editable > .arrow-button,
.jfx-combo-box:editable:focused > .arrow-button{
    -fx-background-color: TRANSPARENT;
}

/*******************************************************************************
 *                                                                             *
 * JFXDatePicker                                                               *
 *                                                                             *
 ******************************************************************************/

 .jfx-date-picker{
    -jfx-default-color: #009688;
}

.jfx-date-picker,
.jfx-date-picker:focused,
.jfx-date-picker:focused:editable {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-date-picker > .arrow-button,
.jfx-date-picker:editable > .arrow-button,
.jfx-date-picker:focused > .arrow-button,
.jfx-date-picker:editable:focused > .arrow-button{
    -fx-background-color: TRANSPARENT;
    -fx-padding: 1 8 1 8;
}

.jfx-date-picker > .arrow-button > .jfx-svg-glyph{
    -fx-background-color: -jfx-default-color;
}

.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}

/*******************************************************************************
 *                                                                             *
 * JFXDialogLayout                                                             *
 *                                                                             *
 ******************************************************************************/

 .jfx-dialog-layout{
    -fx-text-fill: rgba(0, 0, 0, 0.87);
}

.jfx-dialog-layout .jfx-layout-heading {
    -fx-alignment: center-left;
    -fx-font-weight: BOLD;
    -fx-padding: 24 24 20 24;
}

.jfx-dialog-layout .jfx-layout-heading Label {
    -fx-font-size: 20px;
}

.jfx-dialog-layout .jfx-layout-actions{
    -fx-alignment: center-right ;
    -fx-hgap : 8 ;
    -fx-padding: 8 8 8 8;
}

.jfx-dialog-layout .jfx-layout-actions .jfx-button{
    -fx-pref-height: 36;
    -fx-max-height: 36;
    -fx-min-width: 64;
    -fx-padding: 8;
}

.jfx-dialog-layout .jfx-layout-body{
    -fx-alignment: center-left;
    -fx-padding: 0 24 24 24;
    -fx-pref-width: 400;
}

.jfx-dialog-layout .jfx-layout-body .label{
    -fx-text-fill: #757575;
    -fx-font-size: 16.0;
    -fx-wrap-text: true;
}

/*******************************************************************************
 *                                                                             *
 * JFXPasswordField                                                            *
 *                                                                             *
 ******************************************************************************/

 .jfx-password-field {
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
    -fx-padding: 0.333333em 0 0.333333em 0;
}

.jfx-password-field,
.jfx-password-field:focused {
    -fx-prompt-text-fill: #4D4D4D;
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-password-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-password-field .error-label {
    -fx-text-fill: #D34336;
}

.jfx-password-field .error-icon {
    -fx-fill: #D34336;
}

/*******************************************************************************
 *                                                                             *
 * JFXProgressBar                                                              *
 *                                                                             *
 ******************************************************************************/

 .jfx-progress-bar > .track{
    -fx-background-color: #E0E0E0;
}

.jfx-progress-bar > .bar,
.jfx-progress-bar:indeterminate > .bar{
    -fx-background-color: #0F9D58;
    -fx-padding: 1.5;
}

.jfx-progress-bar > .secondary-bar,
.jfx-progress-bar:indeterminate > .secondary-bar{
    -fx-background-color: #CDE1B7;
}

.jfx-progress-bar > .track,
.jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * JFXRadioButton                                                              *
 *                                                                             *
 ******************************************************************************/

 .jfx-radio-button{
    -jfx-selected-color: #0F9D58;
    -jfx-unselected-color: #5A5A5A;
}

.jfx-radio-button .radio-container:hover{
    -fx-cursor: hand;
}

/*******************************************************************************
 *                                                                             *
 * JFXSlider                                                                   *
 *                                                                             *
 ******************************************************************************/

 .jfx-slider {
    -jfx-default-thumb: #0F9D58;
    -jfx-default-track: #CCCCCC;
}

.jfx-slider .track,
.jfx-slider:vertical .track {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-pref-width: 2px;
    -fx-pref-height: 2px;
}

.jfx-slider .thumb,
.jfx-slider:focused .thumb {
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.jfx-slider .colored-track {
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

.jfx-slider .slider-value {
    -fx-stroke: WHITE;
    -fx-font-size: 10;
}

.jfx-slider .animated-thumb {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: -jfx-default-thumb;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.jfx-slider:min .thumb,
.jfx-slider:min:focused .thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.jfx-slider:min .animated-thumb {
    -fx-background-color: -jfx-default-track;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * JFXSpinner                                                                  *
 *                                                                             *
 ******************************************************************************/

 .jfx-spinner:determinate .arc{
    -fx-stroke: #0F9D58;
}

.jfx-spinner:determinate .percentage{
    -fx-fill: #4d4d4d;
}

/*******************************************************************************
 *                                                                             *
 * JFXTabPane                                                                  *
 *                                                                             *
 ******************************************************************************/

 .jfx-tab-pane .tab-header-background {
    -fx-background-color: #00BCD4;
}

.jfx-tab-pane .tab-header-area .tab-down-button {
    -fx-background-color: WHITE;
    -fx-min-width: 0.8em;
    -fx-max-width: 0.8em;
    -fx-min-height: 1.3em;
    -fx-max-height: 1.3em;
}

.jfx-tab-pane .tab-header-area .control-buttons-tab .jfx-rippler {
    -jfx-rippler-fill: WHITE;
}

.jfx-tab-pane .tab-header-area .tab-down-button:left {
    -fx-shape: "M 742,-37 90,614 Q 53,651 53,704.5 53,758 90,795 l 652,651 q 37,37 90.5,37 53.5,0 90.5,-37 l 75,-75 q 37,-37 37,-90.5 0,-53.5 -37,-90.5 L 512,704 998,219 q 37,-38 37,-91 0,-53 -37,-90 L 923,-37 Q 886,-74 832.5,-74 779,-74 742,-37 z";

}

.jfx-tab-pane .tab-header-area .tab-down-button:right {
    -fx-shape: "m 1099,704 q 0,-52 -37,-91 L 410,-38 q -37,-37 -90,-37 -53,0 -90,37 l -76,75 q -37,39 -37,91 0,53 37,90 l 486,486 -486,485 q -37,39 -37,91 0,53 37,90 l 76,75 q 36,38 90,38 54,0 90,-38 l 652,-651 q 37,-37 37,-90 z"
}


.jfx-tab-pane .headers-region > .tab-selected-line{
    -fx-pref-width: 1px !important;
    -fx-pref-height: 2px;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #FFFF8D;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: #FFFF8D;;
}


.jfx-tab-pane .headers-region .tab:closable {
    -fx-border-color: rgba(255,255,255, .87);
    -fx-border-width: 0 2 0 0;
    -fx-border-style: dotted;
    -fx-border-insets: 8 0 8 0;
    -fx-padding: 0 8 0 8;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: rgba(255,255,255, .87);
    -fx-font-weight: BOLD;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 16;
}
.jfx-tab-pane .headers-region .tab:closable .tab-container .tab-label{
    -fx-padding: 0 8 0 6;
}



.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: WHITE;
}

/*******************************************************************************
 *                                                                             *
 * JFXTextArea                                                                 *
 *                                                                             *
 ******************************************************************************/

 .jfx-text-area {
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
}

.jfx-text-area,
.jfx-text-area:focused {
    -fx-prompt-text-fill: #4D4D4D;
}

.jfx-text-area,
.jfx-text-area .scroll-pane,
.jfx-text-area:focused,
.jfx-text-area:focused .scroll-pane{
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-text-area .content,
.jfx-text-area:focused .content{
    -fx-background-color:TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-padding: 0 0 0 0;
}

.jfx-text-area:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-area .error-label {
    -fx-text-fill: #D34336;
}

.jfx-text-area .error-icon {
    -fx-fill: #D34336;
}

/*******************************************************************************
 *                                                                             *
 * JFXTextField                                                                *
 *                                                                             *
 ******************************************************************************/

 .jfx-text-field {
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
    -fx-padding: 0.333333em 0 0.333333em 0;
}

.jfx-text-field,
.jfx-text-field:focused {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-prompt-text-fill: #4D4D4D;
}

.jfx-text-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label {
    -fx-text-fill: #D34336;
}

.jfx-text-field .error-icon {
    -fx-fill: #D34336;
}

/* -------------- STYLES FOR THE DEFAULT JFXTEXTFIELD-BASED COMBOBOX ------------- */

.combo-box-base:editable > .jfx-text-field,
.date-picker > .jfx-text-field,
.jfx-date-picker > .jfx-text-field,
.combo-box-base:editable:focused > .text-field,
.combo-box-base:editable > .text-field:focused,
.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-date-picker > .jfx-text-field,
.jfx-time-picker > .jfx-text-field{
    -jfx-focus-color: -jfx-default-color;
}

/*******************************************************************************
 *                                                                             *
 * JFXTimePicker                                                               *
 *                                                                             *
 ******************************************************************************/

 .jfx-time-picker{
    -jfx-default-color: #009688;
}

.jfx-time-picker,
.jfx-time-picker:focused,
.jfx-time-picker:focused:editable {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-time-picker > .arrow-button,
.jfx-time-picker:editable > .arrow-button,
.jfx-time-picker:focused > .arrow-button,
.jfx-time-picker:editable:focused > .arrow-button{
    -fx-background-color: TRANSPARENT;
    -fx-padding: 1 8 1 8;
}

.jfx-time-picker > .arrow-button > .jfx-svg-glyph{
    -fx-background-color: -jfx-default-color;
}

.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}

/*******************************************************************************
 *                                                                             *
 * JFXToggleButton                                                             *
 *                                                                             *
 ******************************************************************************/

 .jfx-toggle-button,
.jfx-toggle-button:armed,
.jfx-toggle-button:hover,
.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:focused:selected {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;

    -jfx-toggle-color: #009688;
    -jfx-untoggle-color: #FAFAFA;
    -jfx-toggle-line-color: derive(-jfx-toggle-color, 65%);
    -jfx-untoggle-line-color: #999999;
    -jfx-size: 10;
}


.jfx-toggle-button Line {
    -fx-stroke: -jfx-untoggle-line-color;
}
.jfx-toggle-button:selected Line{
    -fx-stroke: -jfx-toggle-line-color;
}

.jfx-toggle-button Circle{
    -fx-fill: -jfx-untoggle-color;
}

.jfx-toggle-button:selected Circle{
    -fx-fill: -jfx-toggle-color;
}

.jfx-toggle-button .jfx-rippler {
    -jfx-rippler-fill: -jfx-untoggle-line-color;
}

.jfx-toggle-button:selected .jfx-rippler {
    -jfx-rippler-fill: -jfx-toggle-line-color;
}

/*******************************************************************************
 *                                                                             *
 * JFXToggleNode                                                               *
 *                                                                             *
 ******************************************************************************/

 .jfx-toggle-node,
 .jfx-toggle-node:armed,
 .jfx-toggle-node:hover,
 .jfx-toggle-node:focused,
 .jfx-toggle-node:selected,
 .jfx-toggle-node:focused:selected{
     -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
     -fx-background-radius: 3px;
     -fx-background-insets: 0px;
 }

/*******************************************************************************
 *                                                                             *
 * JFXTreeTableView                                                            *
 *                                                                             *
 ******************************************************************************/

 .jfx-tree-table-view {
    -fx-tree-table-color: rgba(82, 100, 174, 0.4);
    -fx-tree-table-rippler-color: rgba(82, 100, 174, 0.6);
}
.jfx-tree-table-view:focused {
    -fx-background-color: TRANSPARENT, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; /* 0.083333em; */
}

.jfx-tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected {
    -fx-background-color: -fx-tree-table-color;
    -fx-table-cell-border-color: -fx-tree-table-color;
    -fx-text-fill: BLACK;
}

.jfx-tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: BLACK;
}

.jfx-tree-table-view .column-header,
.jfx-tree-table-view .column-header-background,
.jfx-tree-table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.jfx-tree-table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.jfx-tree-table-view .column-header .label {
    -fx-text-fill: #949494;
    -fx-padding: 16 0 16 0;
}

.jfx-tree-table-view .column-header .arrow, .jfx-tree-table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
}

.jfx-tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.jfx-tree-table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.jfx-tree-table-view .tree-table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-pref-height: 48px;
    -fx-alignment: center-left;
}

.jfx-tree-table-view .column-overlay {
    -fx-background-color: -fx-tree-table-color;
}

.jfx-tree-table-view .column-resize-line, .jfx-tree-table-view .column-drag-header {
    -fx-background-color: -fx-tree-table-rippler-color;
}


.tree-table-row-cell .tree-table-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.tree-table-row-cell:expanded .tree-table-cell > .tree-disclosure-node > .arrow {
    -fx-rotate: 90;
}

.tree-table-row-cell .jfx-text-field,
.tree-table-row-cell .jfx-password-field,
.tree-table-row-cell .jfx-text-area {
    -jfx-focus-color: rgb(82, 100, 174);
    -fx-background-color: transparent;
}

.tree-table-row-cell .jfx-text-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.tree-table-row-cell .jfx-text-field .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.tree-table-row-cell .jfx-text-field .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.tree-table-row-cell:grouped {
    -fx-background-color: rgb(230, 230, 230);
}

.jfx-tree-table-view .menu-item:focused {
    -fx-background-color: -fx-tree-table-color;

}

.jfx-tree-table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}

/*******************************************************************************
 *                                                                             *
 * JFXTreeViewPath                                                             *
 *                                                                             *
 ******************************************************************************/

 .jfx-tree-view-path,
.jfx-tree-view-path:focused{
    -jfx-offset: 10;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-container-color: WHITE;
    -fx-padding: 0;
}

.jfx-tree-view-path > .viewport,
.jfx-tree-view-path:focused > .viewport{
    -fx-background-color: -fx-container-color;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.jfx-tree-view-path .buttons-container{
    -fx-background-color: -fx-container-color;
}