.home-background {
    -fx-background-image: url("../images/home_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
} 

.button {
    -fx-padding: 0.5em 1em;
    -fx-background-color: rgb(77, 102, 204);
    -fx-text-fill: WHITE;
}

.button:hover {
    -fx-background-color: rgba(77, 102, 204, 0.85);
}

.button.red {
    -fx-background-color: rgba(175, 5, 5);
    
}
.button.black {
    -fx-background-color: rgba(0, 0, 0, 0.8);
    
}
.button.red:hover {
    -fx-background-color: rgb(175, 5, 5, 0.85);
}

.background-login{
    -fx-border-radius: 20px;
    -fx-border-color: #333645;
    -fx-border-width: 3;
}

.background-title-login {
    -fx-background-radius: 15px 15px 0px 0px; /* top esquerdo, top direito, bottom direito, bottom esquerdo */
    -fx-background-color: #333645;
    -fx-alignment: center;
}