/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2018, 5:14:29 PM
    Author     : gusta
*/
BorderPane {
    -fx-background-color: #F3F3F3;
}

.top-bar {
    -fx-background-color: #333645;
}

.btn-close, btn-title {
    -jfx-rippler-fill: white;
}

.btn-close:hover {
    -fx-background-color: red;    
}

.btn-title:hover {
    -fx-background-color: #454A5E;
}

.btn-transparente {
    -fx-background-color: #333645;
}

