/*
 * Painel Stylesheet file.
 */

#logo {
    -fx-background-image: url("../images/logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-min-height: 83px;
    -fx-max-height: 83px;
}

.side-bar {
    -fx-background-color: #262936;
    /* -fx-pref-width: 307px; */
    /* -fx-pref-width: 1152px; */
    -fx-min-width: 307px;
    -fx-max-width: 307px;
}

.side-bar-items-background {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.content {
    -fx-background-color: #FFF;
    /* -fx-pref-width: 717px; */
}

VBox.side-bar Label {
    -fx-pref-height: 30px;
    -fx-font-size: 18px;
    -fx-min-width: 277px;

    -fx-padding: 12px 12px 8px 12px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-text-fill:white;

}
VBox.side-bar JFXButton{
    -fx-text-fill:white;
    -fx-alignment: center-left;
    -fx-cursor:hand;

}
VBox.side-bar JFXButton Text, VBox.side-bar Label Text{
    -fx-fill:#FFF;
}

VBox.side-bar VBox{
        -fx-padding: 0 0 15px 0;
    -fx-border-insets: 0 0 15px 0;
    -fx-background-insets: 0 0 15px 0;

}
VBox.side-bar JFXButton.subtitulos {
    -fx-font-size: 16px;


    -fx-min-width: 257px;
    -fx-min-height: 40px;

    -fx-padding: 0 0 0 40px;
    -fx-border-insets: 0 0 0 30px;
    -fx-background-insets: 0 0 0 30px;

}
VBox.side-bar JFXButton:hover{
    -fx-background-color:rgba(255,255,255,0.1)}

VBox.side-bar JFXButton.titulo {
    -fx-font-size: 18px;
    -fx-min-width: 277px;
    
}