/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.display4 {
    -fx-font-size: 112.0;
}

.display3 {
    -fx-font-size: 56.0;
}

.display2 {
    -fx-font-size: 45.0;
}

.display1 {
    -fx-font-size: 34.0;
}

.headline {
    -fx-font-size: 24.0;
}

.title {
    -fx-font-size: 20.0;
}

.subhead {
    -fx-font-size: 15.0;
}

.body2 {
    -fx-font-size: 13.0;
}

.body1 {
    -fx-font-size: 13.0;
}

.caption {
    -fx-font-size: 12.0;
}

.jfx-dialog-layout{
    -fx-text-fill: rgba(0, 0, 0, 0.87);
}

.jfx-dialog-layout .jfx-layout-heading {
    -fx-alignment: center-left;
    -fx-font-weight: BOLD;
    -fx-padding: 24 24 20 24;
}

.jfx-dialog-layout .jfx-layout-actions{
    -fx-alignment: center-right ;
    -fx-hgap : 8 ;
    -fx-padding: 8 8 8 8;
}

.jfx-dialog-layout .jfx-layout-actions .jfx-button{
    -fx-pref-height: 36;
    -fx-max-height: 36;
    -fx-min-width: 64;
    -fx-padding: 8;
}

.jfx-dialog-layout .jfx-layout-body{
    -fx-alignment: center-left;
    -fx-padding: 0 24 24 24;
    -fx-pref-width: 400;
}

.jfx-dialog-layout .jfx-layout-body .label{
    -fx-text-fill: #757575;
    -fx-font-size: 16.0;
    -fx-wrap-text: true;
}
