.background-border-left{
    -fx-background-color: #333645;
}


.background-border-center{
    -fx-background-color: #eff8ff;
}

.btn-cs-padrao{
    -fx-background-color: #7088ff;
    -fx-background-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #333645;
    -fx-font-size: 16px;
}

.btn-cs-padrao:hover{
    -fx-background-color: #BCC8FF;
}

.btn-cs-secundario{
    -fx-background-color: #262936;
    -fx-background-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.btn-cs-secundario:hover{
    -fx-background-color: #3C4052;
}

.lbl-titulo{
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 30px;
}

.lbl-subtitulo{
    -fx-font-weight: bold;
    -fx-text-fill: #7088ff;
    -fx-font-size: 20px;
}

.JFXText-field{
    -fx-font-size: 18px;
}

.lbl-dados{
    -fx-text-fill: #4d4d4d  ;
    -fx-font-size: 20px;
}
.box-simple-border{
    -fx-border-style: solid;
    -fx-border-color: #999;
    -fx-border-width: 3;
    -fx-border-radius: 5;

}
.Vbox-background-purples{
    -fx-background-color: #7088ff;
    -fx-background-radius: 5px;
}
.Vbox-background-gray{
    -fx-background-color: #EFF8FF;
    -fx-background-radius: 5px;
}

/*Scrollpane to invisible color*/
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
     -fx-background-color: transparent;
 }


.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-pref-width: 16.5;
    -fx-padding: 3;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #333645;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #7088ff;
    -fx-background-insets: 3, 0, 0;
    -fx-background-radius: 5;
}
.scroll-pane > .corner {
    -fx-background-color: transparent;
}

/*.dialog-accept {
    -fx-background-color: #7088ff;
    -fx-text-fill: #333645;
    -fx-font-weight: BOLD;
}

.dialog-nao {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: BOLD;
}*/