/*
 * Empty Stylesheet file.
 */

.side-bar {
    -fx-background-color: #262936;
}

.btn-obito {
    -fx-background-color: #262936;
}

#jfxCombo_Parentesco {
    -fx-font-size: 18px;
}

.btn-enviar {
    -fx-background-color: #3f9a37;
}

.dialog-accept {
    -fx-text-fill: #03A9F4;
    -fx-font-weight: BOLD;
    -fx-padding: 0.7em 0.8em;
}